@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Montserrat", sans-serif;}
.Button {
  color: white;
  background-color: blue;
  padding: 10px;
  width: 100px;
  font-weight: 800;
  letter-spacing: 2;
  cursor: pointer;
  border-radius: 10px;
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  margin: 10px;
}

.Button:hover {
  background-color: red;
}

.dialog {
  padding: 20px;
  background: white;
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(37, 37, 37, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-content {
  background-color: white;
  margin: 0;
  width: 400px;
  height: 400px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: space-between;
  overflow-y: auto;
}

.close {
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}

.close > button {
  height: 36px;
  width: 36px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 5px;
}

@keyframes anime {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 40px;
  border-bottom: 1px dashed;
  animation: slidein 2s;
}
.detail-first-child {
  border-top: 1px dashed;
  margin-top: 20px;
}

.detail-header {
  font-weight: bold;
  font-size: 1rem;
}

.detail-content {
  font-size: 1rem;
  padding-left: 5px;
}

.green {
  color: rgb(153, 255, 0);
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}
.red {
  color: red;
}

.message {
  font-size: 0.8rem;
}
.small {
  font-size: 0.9rem;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.errorMessage {
  display: flex;
  align-content: center;
  align-items: center;
}
body {
  background-color: #000;
}
.qr-wrap {
  margin-top: 30px;
  border-radius: 17px;
  overflow: hidden;
}
.App select {
  color: #fff;
  background-color: #b8171a;
  border: none;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 17px;
}
.App {
  min-height: 100vh;
}
h1,
p {
  color: #fff;
}
p {
  font-size: 27px;
  margin-top: 39px;
}
.trasaction-code button,
.modal-img button {
  background-color: #b8171a;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  color: #fff;
  line-height: 24px;
  padding: 12px 24px;
  margin-top: 30px;
  width: 150px;
  color: #fff;
  border: 1px solid #b8171a;
  border-radius: 15px;
  font-size: 20px;
}
.modal-img button {
  width: 152px;
  font-size: 18px;
  text-align: center;
  display: flex;
  margin-top: 0;
}
.trasaction-code {
  display: flex;
  margin-bottom: 300px;
  flex-direction: column;
  text-align: left;
  align-items: left;
}
.trasaction-code input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.modal-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trasaction-code input {
  color: #fff;
  min-width: 270px;
  height: 45px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.modal-img img {
  width: 350px;
  text-align: center;
  margin: 0 auto;
  display: flex;position: relative;top: -100px;
}

.loader-holder {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.modal-img h3{color: #fff;font-size: 20px;}
/* .card-details{z-index: 2 fo;}  */
.card-details p{color: #fff;font-size: 18px;font-weight:600 ;}
.card-details{
  padding: 10px;
}
iframe{
  z-index: -10 !important;
}

.MuiBox-root {background-color: #000 !important;border: 1px solid #b8171a !important;border-radius: 10px !important;}
.MuiBox-root img{position: absolute;z-index: -1;}
.MuiBox-root{overflow: hidden;}